* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/3147.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
}


.board {
    height: 100vh;
}

.column-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.header {
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 20px 200px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_title {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px
}

.create-column {
   background-color: #985E6D;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    opacity: .8;
    transition: .3s;
    font-weight: bold;
}

.create-column:hover {
    opacity: 1;
    cursor: pointer;
}

.clock {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.column {
    position: relative;
    margin: 20px;
    width: calc(33.3% - 40px);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 2px 2px 5px dimgray;
    padding-bottom: 45px;
}

.column-placeholder {
    margin: 20px;
    width: calc(33.3% - 40px);
    border-radius: 10px;
    border: dashed 1px grey;
    padding-bottom: 45px;
    height: 150px;
}

.column-title {
    color: #fff;
    background-color: #565656;
    border-radius: 5px 5px 0 0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    cursor: move;
    font-size: 22px;
}

.col-btn-delete,
.column-edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #76323F;
    border-radius: 0 10px 0 0;
    transition: .3s;
    opacity: 0.8;
}

.column-edit {
    background-color: #96858F;
    border-radius: 0;
    right: 40px;
}

.col-btn-delete:hover,
.column-edit:hover {
    cursor: pointer;
    opacity: 1;
}

.add-card {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #985E6D;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

.add-card:hover {
    opacity: 1;
    cursor: pointer;
}

.column-card-list {
    list-style: none;
    padding: 5px 20px;
    min-height: 50px;
    height: 100%;
}

.card {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    min-height: 50px;
    background-color: #F2F2F2;
    cursor: move;
    color: #565656;
    font-size: 14px;
}

.card-description {
    word-wrap: break-word;
    margin-right: 60px;
}

.card-btn-delete,
.card-btn-edit {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    border: none;
    color: #fff;
    opacity: .1;
    transition: .3s;
}

.card-btn-delete:hover,
.card-btn-edit:hover {
    opacity: 1;
    cursor: pointer;
}

.card-btn-delete {
    background-color: #76323F;
}

.card-btn-edit {
    right: 60px;
    background-color: #96858F;
}

.card-placeholder {
    padding: 5px 5px;
    margin: 10px 0;
    min-height: 50px;
    border: dashed 1px grey;
}

